<main class="d-flex flex-justify-center min-h-screen bg-gray">
  <div class="max-w-sm width-full py-8">
    <h1 class="f2 text-center">Create an account to get started</h1>
    <%= form_with model: @user, class: "mt-4 Box Box--spacious" do |form| %>
      <div class="Box-body">
        <div class="form-group mt-0">
          <div class="form-group-header">
            <%= form.label :name %>
          </div>
          <div class="form-group-body">
            <%= form.text_field :name, class: "form-control", autocomplete: "off", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <%= form.submit "Sign up", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
    <p class="text-center mt-4 text-gray">Already have an account? <a href="#">Sign in</a></p>
  </div>
</main>
