<main class="d-flex flex-justify-center py-7">
  <div class="width-full mx-auto">
    <div class="Box width-full max-w-sm mx-auto">
      <div class="Box-body">
        <h3 class="mb-3">Upcoming events</h3>
        <%= render @upcoming_events %>
      </div>
    </div>
    <div class="Box width-full max-w-sm mx-auto mt-4">
      <div class="Box-body">
        <h3 class="mb-3">Past events</h3>
        <%= render @past_events %>
      </div>
    </div>
  </div>
</main>
